@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "../../scss/variables";

.footer-section {
    text-align: center;

    .social-section {
        background-color: $gray-700;
        color: $white;
    }

    .attribute-section {
        background-color: $gray-900;
        color: $white;
    }
}

.social-section {
    padding: 2rem;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tagline {
        font-weight: $font-weight-bold;
        margin: 1rem 0;
    }

    .logo img {
        width: 128px;
        height: 128px;
    }

    .social-icon a {
        display: inline-block;
        margin-right: 1rem;
    }

    .social-icon img {
        width: 32px;
        height: 32px;
    }
}

.attribute-section {
    @extend .social-section;

    .item {
        display: inline-block;
        margin-right: 1rem;
    }

    .item a {
        color: $white;

        &:hover {
            text-decoration: underline;
        }
    }

    .version {
        display: block;
        margin-top: 1rem;
        color: $gray-200;
    }
}