<section class="footer-section">
    <section id="social" class="social-section">
        <div class="container">
            <figure class="logo">
                <img src="assets/images/Kegabutan_Logo_BluePink.png">
            </figure>
            <h4 class="tagline">Buat kegabutanmu menjadi berfaedah!</h4>
            <div class="social-icon">
                <a href="https://github.com/kegabutandotcom" target="_blank">
                    <img src="assets/images/github_mark_logo.png">
                </a>
                <a href="https://www.facebook.com/kegabutandotcom" target="_blank">
                    <img src="assets/images/facebook_logo.png">
                </a>
                <a href="https://twitter.com/kegabutandotcom" target="_blank">
                    <img src="assets/images/twitter_logo.png">
                </a>
                <a href="https://www.instagram.com/kegabutandotcom" target="_blank">
                    <img src="assets/images/instagram_logo.png">
                </a>
            </div>
        </div>
    </section>
    <section id="attributes" class="attribute-section">
        <span class="item"><a routerLink="about">Tentang blog ini</a></span>
        <span class="item"><a routerLink="contact">Kontak</a></span>
        <span class="item"><a href="https://codelabs.kegabutan.com">Codelabs Kegabutan.com</a></span>
        <span class="item version">quorra v{{ version }} <br> made with coffee by @dwzzzl</span>
    </section>
</section>
