<div class="text-center">
  <div *ngIf="!postData" class="spinner-border text-primary text-center" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<article *ngIf="postData" id="blog-post-{{postData.id}}" class="blog-post">
  <header class="blog-post__header">
    <h1 class="blog-post__title">{{postData.title}}</h1>
    <section class="blog-post__meta">
      <span class="blog-post__meta-data author">
        <a href="{{postData.author.url}}" class="author__link" target="_blank">
          <span class="author__image"><img [src]="postData.author.image.url" alt="thumbnail profile {{postData.author.displayName}}"></span> <span class="author__name">{{postData.author.displayName}}</span>
        </a>
      </span>
      <span class="blog-post__meta-data published">Diterbitkan pada: <span class="published__time">{{postData.published | date:'d MMMM yyyy'}}</span></span>
    </section>
    <figure class="text-center">
      <img *ngIf="postData.images; else elseBlock" class="blog-post__thumbnail" [src]="postData.images[0].url" alt="thumbnail {{postData.title}}">
      <ng-template #elseBlock><img src="https://via.placeholder.com/1280x720.png" class="blog-post__thumbnail" alt="thumbnail"></ng-template>
    </figure>
  </header>
  <main class="blog-post__content" [innerHTML]="postContent"></main>
  <section class="blog-post__comment"><disqus [identifier]="pageId"></disqus></section>
  <footer class="blog-post__footer"></footer>
</article>
