<section class="post-list">
    <header class="header">
        <h3 class="title">Latest Posts</h3>
    </header>
    <div *ngIf="posts">
        <article class="post-item row" *ngFor="let post of posts.items; let i = index;">
            <figure class="post-item-thumbnail col-lg-3 col-md-12 col-sm-12">
                <a [routerLink]="['/post', this.postUrlService.resolvePostUrl(post.title, post.id)]">
                    <img *ngIf="post.images; else elseBlock" [src]="post.images[0].url" alt="post.title">
                </a>
                <ng-template #elseBlock>
                    <a [routerLink]="['/post', this.postUrlService.resolvePostUrl(post.title, post.id)]">
                        <img src="https://via.placeholder.com/1280x720.png" alt="post.title">
                    </a>
                </ng-template>
            </figure>
            <div class="post-item-content col-lg-9 col-md-12 col-sm-12">
                <h4 class="post-item-title">
                    <a [routerLink]="['/post', this.postUrlService.resolvePostUrl(post.title, post.id)]">{{post.title}}</a>
                </h4>
                <p class="post-item-snippet">{{post.content | striphtml | slice:0:80}}...</p>
                <div class="post-item-footer">
                    <span class="label">
                        <a href="#"><i class="fa fa-tag"></i> {{post.labels[0]}}</a>
                    </span>
                    <span class="comment">
                        <a [routerLink]="['/post', this.postUrlService.resolvePostUrl(post.title, post.id)]" fragment="comment"><i class="fa fa-comment"></i></a>
                    </span>
                    <span class="author">
                        <a [href]="post.author.url">
                            <img class="author-image" [src]="post.author.image.url">
                            <span class="author-name">{{post.author.displayName}}</span>
                        </a>
                    </span>
                    <span class="date">{{post.published | date:'d MMMM yyyy'}}</span>
                </div>
            </div>
        </article>
    </div>
</section>

