<section class="post-list">
    <header class="header">
        <h3 class="title">{{title}}</h3>
    </header>
    <div *ngIf="posts" class="row">
        <div [ngClass]="{'col-md-6 col-sm-12': isStacked && !stretchColumn, 'col-md-12': (isStacked && stretchColumn) || !isStacked}" *ngFor="let post of posts.items">
        <article [class.is-stacked]="isStacked" class="post-item row">
            <figure [class.col-lg-3]="!isStacked" class="post-item-thumbnail col-md-12 col-sm-12">
                <a [routerLink]="['/post', this.postUrlService.resolvePostUrl(post.title, post.id)]">
                    <img *ngIf="post.images; else elseBlock" [src]="post.images[0].url" alt="post.title">
                </a>
                <ng-template #elseBlock>
                    <a [routerLink]="['/post', this.postUrlService.resolvePostUrl(post.title, post.id)]">
                        <img src="https://via.placeholder.com/1280x720.png" alt="post.title">
                    </a>
                </ng-template>
            </figure>
            <div [class.col-lg-9]="!isStacked" class="post-item-content col-md-12 col-sm-12">
                <h4 class="post-item-title">
                    <a [routerLink]="['/post', this.postUrlService.resolvePostUrl(post.title, post.id)]">{{post.title}}</a>
                </h4>
                <p class="post-item-snippet">{{post.content | striphtml | slice:0:80}}...</p>
                <div class="post-item-footer">
                    <span class="label">
                        <a href="#"><i class="fa fa-tag"></i> {{post.labels[0]}}</a>
                    </span>
                    <span class="comment">
                        <a [routerLink]="['/post', this.postUrlService.resolvePostUrl(post.title, post.id)]" fragment="comment"><i class="fa fa-comment"></i></a>
                    </span>
                    <span class="author">
                        <a [href]="post.author.url">
                            <img class="author-image" [src]="post.author.image.url">
                            <span class="author-name">{{post.author.displayName}}</span>
                        </a>
                    </span>
                    <span class="date">{{post.published | date:'d MMMM yyyy'}}</span>
                </div>
            </div>
        </article>
        </div>
    </div>
</section>

