@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "../../../scss/variables";

.blog-card {
  display: block;
  position: relative;
  margin: 1rem;
  margin-top: 0;
  max-width: 100%;
  height: 380px;
  background-color: $white;
  border-radius: 25px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid $gray-300;
  box-shadow: $box-shadow-sm;
  transition: all 0.3s ease-out;

  &:hover {
    border: 1px solid $primary;
  }
}

.blog-card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-card__body {
  padding: 1rem;

  .blog-card__title {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    color: $black;
    margin: .5rem 0;
    max-height: 70px;
    overflow: hidden;

    .title-link {
      color: $black;
    }
  }

  .blog-card__label {
    font-size: $font-size-base;
    color: $gray-600;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
  }
}

@include media-breakpoint-down(sm) {

  .blog-card {
    height: auto;
  }

  .blog-card__image {
    height: auto;
    object-fit: contain
  }
}
