<div class="text-center">
  <div *ngIf="!posts" class="spinner-border text-primary text-center" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="row" *ngIf="posts">
    <div class="col-sm-12 col-md-6 col-xl-4 p-0" *ngFor="let post of posts.items; let i = index;">
        <article class="blog-card">
            <img *ngIf="post.images; else elseBlock" [src]="post.images[0].url" class="blog-card__image" alt="thumbnail">
            <ng-template #elseBlock><img src="https://via.placeholder.com/1280x720.png" class="blog-card__image" alt="thumbnail"></ng-template>
            <div class="blog-card__body">
                <span class="blog-card__label" >{{post.labels[0]}}</span>
                <h4 class="blog-card__title"><a class="title-link" [routerLink]="['/post',resolveUrl(post.title, post.id)]">{{post.title}}</a></h4>
                <p class="blog-card__text">oleh <a class="author-name" href="{{post.author.url}}" target="_blank">{{post.author.displayName}}</a></p>
            </div>
        </article>
        <div class="row" *ngIf="i % 2 === 0">
            <div class="col-md-12">
                <!-- <ng-adsense></ng-adsense> -->
            </div>
        </div>
    </div>
</div>
