<nav class="navbar navbar-light bg-white fixed-top">
  <div class="w-100">
    <a class="navside-button" [class.active]="isExpanded" (click)="isExpanded = !isExpanded" title="More">
      <img src="https://img.icons8.com/dusk/64/000000/more.png">
    </a>
    <section class="search-nav navbar-nav align-items-center">
      <div class="col-md-2 col-sm-12 text-center">
        <a class="navbar-brand" routerLink="/">
          <img src="assets/images/Kegabutan_Logo_BluePink.png" alt="logo" width="48" height="48">
        </a>
      </div>
      <div class="col-md-10 d-none d-md-block">
        <form class="form-search">
          <div class="input-group">
              <input type="text" class="form-control search-input" placeholder="Cari kegabutanmu...">
              <span class="bar"></span>
              <div class="input-group-append">
                  <button type="button" class="input-group-text search-button"><i class="fa fa-search"></i></button>
              </div>
          </div>
        </form>
      </div>
    </section>
    <section class="sidenav-mobile" [class.show]="isExpanded">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/"><img class="nav-link-icon" src="https://img.icons8.com/dusk/64/000000/home-page.png"> Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/category/review"><img class="nav-link-icon" src="assets/images/check-book.png"> Review</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/category/gabut"><img class="nav-link-icon" src="assets/images/sleeping-in-bed.png"> Gabut</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/category/tekno"><img class="nav-link-icon" src="assets/images/laptop.png"> Tekno</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/category/ngoding"><img class="nav-link-icon" src="assets/images/code.png"> Ngoding</a>
        </li>
      </ul>
    </section>
  </div>
</nav>
